* {
    margin: 0 !important;
    padding: 0 !important;

}
a{
    text-decoration: none !important;
}

body {
    background-color: black;
}

.col-md-2 {
    background-color: green;
    width: 100vh;
}

.col-md-4 ul {
    text-decoration: none;
}

.col-md-10 {
    background-color: #f1f1f1;
    height: 100vh;
}

.col-md-2 ul li:hover {
    background-color: rebeccapurple;
    transition: .25s all linear;
    cursor: pointer;
}

.col-md-2 li{
    height: 60px;
    padding-left: 40px;
    line-height: 60px;
}
.col-md-2 li a{
    color: white;
    font-size: 20px;
}
