<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body style="background: linear-gradient(to right, rgb(39, 69, 190), rgb(252, 37, 69));">
<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Products in your basket </h5>
                    </div>

                    <h3 th:if="${massage}" th:text="${massage}"></h3>
                    <div class="card-body">

                        <!-- Single item -->
                        <tr th:each="product: ${basket}">
                            <div class="row">
                                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                    <!-- Image -->
                                    <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                         data-mdb-ripple-color="light">


                                        <img th:src="@{'~/'+${product.productUrl}}"  width="150px" height="100px"/>


                                        <a href="#!">

                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                        </a>
                                    </div>
                                    <!-- Image -->
                                </div>

                                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                    <!-- Data -->
                                    <p><strong>
                                        <a th:href="@{/admin/product/info/{id}(id=${product.id})}" action="get" ><td th:text="${product.name}"/>
                                        </a> </strong></p>
                                    <p>
                                    <td th:text="${product.info}"/>
                                    </p>

                                    <button type="submit" class="btn btn-primary btn-sm me-1 mb-2"
                                            data-mdb-toggle="tooltip"
                                            title="Remove item">
                                        <i class="fas fa-trash"></i>
                                    </button>

                                    <button type="button" class="btn btn-danger btn-sm mb-2"
                                            data-mdb-toggle="tooltip"
                                            title="Move to the wish list">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                    <!-- Data -->
                                </div>

                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                    <!-- Quantity -->
                                    <div class="d-flex mb-4" style="max-width: 300px">
                                        <button class="btn btn-primary px-3 me-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                        <div class="form-outline">
                                            <input id="form" min="0" name="quantity" value="1" type="number"
                                                   class="form-control"/>
                                            <label class="form-label" for="form">Quantity</label>
                                        </div>

                                        <button class="btn btn-primary px-3 ms-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <!-- Quantity -->

                                    <!-- Price -->
                                    <p class="text-start text-md-center">
                                        <strong>
                                            <td th:text="${product.price}"/>
                                        </strong>

                                    </p>

                                    <!-- Price -->
                                </div>
                            </div>

                            <!-- Single item -->

                            <hr class="my-4"/>

                    </div>
                    <form action="/basket/order" method="get">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        Order
                    </button>
                </form>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <p><strong>We accept</strong></p>
                        <img class="me-2" width="45px"
                             src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                             alt="Visa"/>
                        <img class="me-2" width="45px"
                             src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                             alt="American Express"/>
                        <img class="me-2" width="45px"
                             src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                             alt="Mastercard"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>
