<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Home Page</title>
<!--    <style>-->
<!--        *{-->
<!--            margin: 0;-->
<!--            padding: 0;-->
<!--            box-sizing: border-box;-->
<!--            list-style: none;-->
<!--        }-->
<!--        .container{-->
<!--            display: flex;-->
<!--            flex-direction: column;-->
<!--            gap: 10px;-->
<!--        }-->
<!--        .menuBtn{-->
<!--            display: inline-block;-->
<!--            width: fit-content;-->
<!--            cursor: pointer;-->
<!--            transition: all 0.2s;-->
<!--        }-->
<!--        .menuBtn:active{-->
<!--            transform: scale(0.95);-->
<!--            transition: all 0.2s;-->
<!--        }-->
<!--        .menu__container{-->
<!--            margin-top: 60px;-->
<!--            position: absolute;-->
<!--            width: 804px;-->
<!--            height: 400px;-->
<!--            /*display: flex;*/-->
<!--            gap: 20px;-->
<!--            display: none;-->
<!--            background-color: white;-->
<!--        }-->
<!--        .open{-->
<!--            display: flex;-->
<!--        }-->
<!--        .list{-->
<!--            width: 400px;-->
<!--            height: 100%;-->
<!--            display: flex;-->
<!--            flex-direction: column;-->
<!--            gap: 4px;-->
<!--            overflow: auto;-->
<!--            margin-left: -20px;-->
<!--        }-->
<!--        .list__item{-->
<!--            width: 100%;-->
<!--            padding: 5px 10px;-->
<!--            font-size: 17px;-->
<!--            cursor: pointer;-->
<!--            font-weight: 300;-->
<!--            text-decoration: none;-->
<!--            color: black;-->
<!--        }-->
<!--        .list__item:hover .dropdown{-->
<!--            display: flex;-->
<!--        }-->
<!--        .list__item:hover{-->
<!--            background-color: rgb(235, 234, 234);-->
<!--            border-radius: 10px;-->
<!--            color: red;-->
<!--        }-->
<!--        .dropdown{-->
<!--            position: absolute;-->
<!--            left: 0;-->
<!--            top: 0;-->
<!--            /*display: flex;*/-->
<!--            flex-direction: column;-->
<!--            width: 400px;-->
<!--            height: 380px;-->
<!--            margin: 10px 0 10px 380px;-->
<!--            padding: 10px 0 10px 30px;-->
<!--            overflow: auto;-->
<!--            display: none;-->
<!--        }-->
<!--        .item{-->
<!--            width: 100%;-->
<!--            padding: 5px 10px;-->
<!--            cursor: pointer;-->
<!--            font-weight: 300;-->
<!--            text-decoration: none;-->
<!--            color: black;-->
<!--        }-->
<!--        .dropdown .item:hover{-->
<!--            color: red;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<div class="container flex">
    <a href="/category" class="menuBtn btn btn-outline-danger my-2">Category</a>
<!--    <div class="menu__container shadow p-3 mb-5 bg-white rounded">-->
<!--        <ul class="list">-->
<!--            <a href="" class="list__item" th:each="category: ${parentCategoryList}">-->
<!--                <p class="m-0" th:text="${category.name}">-->
<!--                <div class="dropdown">-->
<!--                    <div class="item" th:each="category1: ${getChildCategoryList}">-->
<!--                        <p class="m-0" th:text="${category1.name}"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </ul>-->
<!--    </div>-->
</div>
<!--<script>-->
<!--    const menuContainer = document.querySelector('.menu__container');-->
<!--    const menuBtn = document.querySelector('.menuBtn');-->
<!--    menuBtn.addEventListener('click', () => {-->
<!--        menuContainer.classList.toggle('open')-->
<!--    })-->
<!--</script>-->
</body>
</html>